<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Simple Airbnb</a>
  <%= link_to "Add flat", new_flat_path, class: "btn btn-outline-primary my-2 my-sm-0"  %>

</nav>
<div class="container p-3">

  <%= simple_form_for(@flat) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :price_per_night %>
    <%= f.input :number_of_guests %>
    <%= f.button :submit, class: "btn btn-outline-primary" %>
  <% end %>
</div>
